/* styles.css */
*{
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e79212;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 999;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 10;
    padding: 10;
    font-family: 'Times New Roman', Times, serif;
}

nav li {
    margin: 0 10px;
    
}

nav li a{
    color: rgb(252, 252, 252);
    text-decoration: none;
    text-transform: uppercase;
}

nav li a:hover{
    color: #e74809;
    text-decoration: none;
}

.logo{
    padding: 0 15px;
}
.logo img{
    width: 95px;
    height: auto;
}

.iconos {
    display: flex;
    
}

.iconos a {
    margin: 0 10px;
    color: #333;
    font-size: 18px;
}
.iconos a:hover {
   
    color: #dfd6d6;
    
}

/* aquì se implementan los estilos css para la seccion uno*/

.principal {
    background-image: url(../imagenes/beans-1834984_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 550px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenidouno {
    width: 100%;
    height: 550PX;
    text-align: center;
    color: #78b0dd;
    padding: 2px;
    background: rgba(0, 0, 0, 0.151);
    font-size: 20px;
}

.contenidouno h1{
    margin-top: 200px;
    margin-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.contenidouno h2{
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenidouno p{
    margin-bottom: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #75aeeb;
}

.buttons {
    display: flex;
    justify-content:center;
    margin-top: 50px;
}

.button {
    background-color: #0d09f1;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 30px;
    font-family: 'Times New Roman', Times, serif;
}

.button:hover {
    background-color: #5bf0e3;
    color: #000000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 0 30px;
}

/*estilos para el contenido dos*/

.banner {
    background-image: url(../imagenes/cheese-1887233_1280.jpg);
    background-size: cover;
    background-position: center;
    height: 300px; /* Ajusta la altura según tus necesidades */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenidodos {
    width: 100%;
    height: 300px;
    text-align: center;
    color: #da9090;
    padding: 2px;
    background: rgba(0, 0, 0, 0.74);
}

.contenidodos h2{
    margin-top: 100px;
    margin-bottom: 50px;
}

.figuras {
    display: flex;
    justify-content: center;
}

.figuras a {
    margin: 0 10px;
    color: #ebc472;
    font-size: 18px;
}
.figuras a:hover {
   
    color: #f3e306;
    
}



/*creando la seccion 03 del contenido de la pagina*/

  .galeria {
    background-color: #da721d;
    padding: 50px 0;
    border-radius: 5px;
   
    }

  .galeria h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #df2f18;
  }

  .galeria p {
    color: #535656;
    text-align: center;
    font-size: 18px;
    line-height:5px ;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .contenidotres {
    max-width: 1200px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-around;
  }

  .contenidotres .columna {
    flex: 1;
    margin-top: 50px;
    padding: 30px;
    text-align: center;
  }

  .contenidotres .columna img {
    max-width: 100%;
    height: auto;
    border: 2px solid #6a0404;
    padding: 5px;
    border-radius: 4px;
    
  }

  .contenidotres .columna p {
    margin-top: 20px;
    text-align: justify;
    line-height: 20px;
  }

  .contenidotres .columna a {
    display: inline-block;
    padding: 10px 30px;
    background-color: #e06743;
    color: #fff;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 25px;
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .contenidotres .columna a:hover {
    background-color: #f00c0c;
  }

  
  /*creando el Footer - pie de pagina final de
  la pagina*/
  
  .footer {
    background-color: #e46843;
    color: #8f5858;
    padding: 20px;
  }
  
  .filas{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  h3, h4 p {
    color: #fff;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
  }

  h3 p {
    margin-bottom: 10px;
  }

  h5  {
     font-size: 20px;
  }
  
  .social-icons1 {
    display: flex;
  }
  

  /* Aquí puedes agregar tu CSS */
  .social-icons {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.social-icons li {
    display: inline-block;
}

.social-icons a {
    text-decoration: none;
    color: #d5f0f4;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #00b53c; /* Cambia esto según el color que desees para el hover */
}

.fondos1 {
  display: flex; /* Usamos flexbox para alinear elementos en fila */
    align-items: center; /* Alinea verticalmente el contenido */
    margin-left: 200px; /* Espacio a la izquierda del contenedor */
}

.imagen1{
  width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 15px; /* Espacio entre la imagen y el texto */
    margin-left: 10px; /* Espacio a la izquierda de la imagen */
}